:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
    --font-header: "Italiana", sans-serif;
    --font-other: 'Funnel Display', sans-serif;
    --font-preheading: 'Antic Didone', serif;
}

body {
    font-family: 'Georgia', serif;
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    /* kunci scroll sebelum cover hilang */
}

h1 {
    font-family: var(--font-header);
    color: #ffffff;
}

h2,
h3,
p {
    font-family: var(--font-preheading);
    color: #ffffff;
}

h4 {
    font-size: 2rem;
    font-family: var(--font-preheading);
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px 20px;
}

/* COVER */
#cover {
    position: fixed;
    inset: 0;
    z-index: 9999;
    /* background: url(../inv/img/gpt.png) 50% 20% /cover no-repeat; 40% 20% atau center untuk mengatur posisi gambar */
    background: var(--background-image) 50% 20% / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    transition: transform 1s ease, opacity 1s ease;
}

#cover::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

#cover .content {
    position: relative;
    z-index: 2;
}

#cover.hidden {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
}

#cover h1,
#cover h4 {
    text-shadow: var(--shadow);
}

#cover h1 {
    /*headline*/
    /* font-family: var(--font-header); */
    font-size: 4rem;
}

#cover h4 {
    /*judul*/
    font-size: 2rem;
}

#cover a {
    color: white;
    background-color: var(--bg);
}

#cover button:hover {
    background-color: var(--bg);
    color: white;
}

/* General Section Style */
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
}

/*HEAD*/
#head {
    /* background: #2b7ed0;  */
    position: relative;
    min-height: 100vh;
    /* selalu penuh 1 layar */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* atur atas & bawah */
    padding: 80px 20px;
    /* beri jarak biar tidak mepet layar */
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    color: white;
    /* background: url('../inv/img/gpt1.png')  center / cover no-repeat; */
    background: var(--background-image) center / cover no-repeat;
    background-attachment: fixed;
    /* 🎯 ini yang bikin statik */
    background-position: center;

}

/* Overlay redup di atas background */
#head::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    /* ubah angka 0.45 sesuai tingkat kegelapan */
    z-index: 1;
}

/* Pastikan konten di atas overlay */
#head>* {
    position: relative;
    z-index: 2;
}

#head h1 {
    /* font-family: "Lavishly Yours", cursive; */
    font-size: 4rem;
}

#head .head-top {
    margin-top: 10vh;
    /* geser sedikit dari atas */
}

#head .head-bottom {
    margin-bottom: 10vh;
    /* geser sedikit dari bawah */
}

/*INFO*/
#info {
    /* background: #000000; */
    position: relative;
    min-height: 100vh;
    /* selalu penuh 1 layar */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: var(--background-image) center / cover no-repeat;

    background-attachment: fixed;
    /* 🎯 ini yang bikin statik */
    background-position: center;
    opacity: 0.8;
    padding: 40px 0;
}

#info .portrait-4-5 img {
    aspect-ratio: 4 / 5;
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 12px;
    /* max-height: 420px; */
}

#info .couple {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

#info .couple h3 {
    /* font-family: "Lavishly Yours", cursive; */
    font-size: 2rem;
    color: var(--font-preheading);
}

#info .couple img {
    max-width: 100%;
}

/*GALLERY*/
/* #gallery { background: #24be61; } */
#gallery {
    max-width: 1200px;
    /* batasi lebar galeri */
    margin: 0 auto;
    /* posisikan ke tengah */
    padding: 50px;
    border-radius: 20px;
}

#gallery h2 {
    font-size: 3rem;
    /* font-family: "Lavishly Yours", cursive; */
}

#gallery .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    /* biar ada jarak antar row */
}

#gallery .gallery-item img {
    width: 100%;
    /*height: 250px;       /* atur tinggi seragam */
    object-fit: cover;
    /* crop rapi */
    transition: transform .4s ease;
}

#gallery .gallery-item:hover img {
    transform: scale(1.2);
    filter: brightness(0.8);
}

#gallery .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    transform: translateY(100%);
    transition: transform .3s ease;
}

#gallery .gallery-item:hover .overlay {
    transform: translateY(0);
}

/* Location */
#location {
    position: relative;
    min-height: 100vh;
    /* selalu penuh 1 layar */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: var(--background-image) center / cover no-repeat;

    background-attachment: fixed;
    /* 🎯 ini yang bikin statik */
    background-position: center;
}

#location h2 {
    font-size: 3rem;
    /* font-family: "Lavishly Yours", cursive; */
}

/* Story */
#story {
    padding-top: 8rem;
    padding-bottom: 8rem;
    position: relative;
    min-height: 100vh;
    /* selalu penuh 1 layar */
    /* max-height: 90vh;          selalu penuh 1 layar */
    width: 100%;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
    color: white;
    background: rgba(0, 0, 0, 0.5);
    background: var(--background-image) center / cover no-repeat;
    background-attachment: fixed;
    /* 🎯 ini yang bikin statik */
    /* background-position: center; */
}

#story h2 {
    font-size: 3rem;
    /* font-family: "Lavishly Yours", cursive; */
    color: var(--font-preheading)
}

#story span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
}

#story p {
    font-size: 0.7rem;
    font-weight: 1.6;
    color: #333;
}

#story .timeline {
    list-style-type: none;
    position: relative;
    padding: 2rem 0;
    /* margin-top: 1rem; */
    margin-top: 0;
    margin-bottom: 0;
}

#story .timeline::before {
    content: '';
    top: -10px;
    bottom: -10px;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;

}

#story .timeline li {
    position: relative;
    margin-bottom: 1rem;
}

#story .timeline li::before,
#story .timeline li::after {
    content: '';
    display: table;
    clear: both;
}

#story .timeline li::after {
    clear: both;
}

#story .timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#story .timeline li .timeline-panel {
    width: 35%;
    float: left;
    border: 1px solid #ccc;
    background-color: white;
    padding: 2rem;
    position: relative;
    border-radius: 8px;

}

#story .timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 80px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    right: -10px;
    transform: rotate(45deg);
    /* z-index: -1; */

}

#story .timeline li.timeline-inverted .timeline-panel {
    width: 35%;
    float: right;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;

}

#story .timeline li.timeline-inverted .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    left: -10px;
    transform: rotate(45deg);
    /* z-index: -1; */

}

/* Reservasi */
#invitation {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background: #000000;
}

#invitation .invitation-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    padding: 30px;
    border-radius: 16px;
    background: linear-gradient(135deg, #1c1c1c, #2e2e2e);
    /* elegan gelap */
    color: #fff;
    box-shadow: 0 8px 24px rgba(206, 203, 203, 0.336);
    position: relative;
    /* penting supaya pseudo bisa nempel */
    overflow: hidden;
    /* supaya coakan rapi */
}

#invitation .card-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px dashed rgba(255, 255, 255, 0.2);
    padding: 50px;
    padding-right: 70px
}

#invitation .card-left img {
    width: 250px;
    height: 250px;
    margin-bottom: 15px;
}

#invitation .card-left .code {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ddd;
}

#invitation .card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

#invitation .invite-header {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffd700;
    /* aksen emas elegan */
}

#invitation .invite-detail {
    margin: 5px 0;
    font-size: 16px;
    line-height: 1.5;
}

/* Gift */
#gift p {
    color: rgb(255, 255, 255);
}

#gift .btn-pink {
    background-color: #4b4849;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

#gift .btn-pink:hover {
    background-color: #4b4849;
    color: #fff;
}

#gift .btn-outline-pink {
    border: 2px solid #4b4849;
    color: #4b4849;
    border-radius: 10px;
    transition: 0.3s;
}

#gift .btn-outline-pink:hover {
    background-color: #4b4849;
    color: #fff;
}

/* Animasi list pesan */
#gift .messageList .card {
    border-left: 5px solid #4b4849;
}

/* Efek animasi fade-in */
#gift .fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s forwards;
}

/* Kotak pesan */
#gift .message-box {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);

    /* Scroll behavior */
    max-height: 400px;
    /* tinggi maksimal */
    overflow-y: auto;
    /* scroll jika konten lebih */
}

/* Card pesan */
#gift .message-card {
    text-align: left;
    background: #fafafa;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

#gift .message-card h4 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

#gift .message-card p {
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Large device (desktop) */
@media (min-width: 1200px) {
    #iinfo .portrait-4-5 img {
        max-height: 480px;
    }
}

@media(max-width: 1024px) {
    .profile-card {
        background: rgba(255, 255, 255, 0.2);
        /* transparan */
        backdrop-filter: blur(10px);
        /* efek blur */
        -webkit-backdrop-filter: blur(10px);
        border-radius: 12px;
        padding: 2rem;
        max-width: 100vh;
        margin: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .profile-card img {
        width: 100%;
        height: 100%;
        /* isi penuh sesuai col */
        object-fit: cover;
        border-radius: 12px;
    }

    #gallery {
        max-width: 900px;
    }

    #story .timeline li .timeline-panel {
        width: 35%;
        float: left;
        border: 1px solid #ccc;
        background-color: white;
        padding: 1rem;
        position: relative;
        border-radius: 8px;
    }

    #story .timeline li.timeline-inverted .timeline-panel {
        width: 35%;
        float: right;
        border: 1px solid #ccc;
        padding: 1rem;
        position: relative;
        border-radius: 8px;

    }
}

@media(max-width: 768px) {

    /* Responsive map */
    #location .map-container {
        position: relative;
        width: 100%;
        max-width: 900px;
        /* biar map ga terlalu lebar di desktop */
        margin: 0 auto;
        padding-bottom: 56.25%;
        /* rasio 16:9 */
        height: 0;
        overflow: hidden;
        border-radius: 16px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    #location .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .profile-card {
        background: rgba(97, 96, 96, 0.2);
        /* transparan */
        backdrop-filter: blur(10px);
        /* efek blur */
        -webkit-backdrop-filter: blur(10px);
        /* safari */
        border-radius: 12px;
        padding: 2rem;
        max-width: 700px;
        margin: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .profile-card img {
        width: 100%;
        height: 100%;
        /* isi penuh sesuai col */
        object-fit: cover;
        border-radius: 12px;
    }

    #story .timeline::before {
        left: 60px;
    }

    #story .timeline li .timeline-image {
        left: 10px;
        margin-left: 45px;
        /* top: 16px; */
    }

    #story .timeline li .timeline-panel {
        width: calc(100% - 180px);
        float: right;
    }

    #story .timeline li .timeline-panel::before {
        background-color: white;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        left: -10px;
        transform: rotate(45deg);
    }

    #story .timeline li.timeline-inverted .timeline-panel {
        width: calc(100% - 180px);
        float: right;
    }

    #invitation .invitation-card {
        grid-template-columns: 1fr;
        /* dari 2 kolom jadi 1 */
        padding: 20px;
    }

    /* Coakan kiri */
    #invitation .invitation-card::before {
        content: "";
        position: absolute;
        top: 49%;
        left: -15px;
        /* keluar sedikit dari card */
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.2);
        /* sama dengan background section */
        border-radius: 50%;
    }

    /* Coakan kanan */
    #invitation .invitation-card::after {
        content: "";
        position: absolute;
        top: 49%;
        right: -15px;
        /* keluar sedikit dari card */
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
    }

    #invitation .card-left {
        border-right: none;
        /* hilangkan garis pemisah */
        border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
        /* ganti jadi garis bawah */
        padding: 20px;
        padding-bottom: 30px;
    }

    #invitation .card-left img {
        width: 180px;
        /* kecilkan QR code */
        height: 180px;
    }

    #invitation .card-right {
        padding-left: 0;
        margin-top: 20px;
        text-align: center;
        /* center-kan teks di mobile */
    }

    #invitation .invite-header {
        font-size: 20px;
    }

    #invitation .invite-detail {
        font-size: 14px;
    }

    /* --- Overlay teks (mobile) --- */
    #info .overlay-info {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        color: #fff;
        /* background: rgba(0, 0, 0, 0.35); */
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
        /* padding: 12px; */
        border-radius: 0 0 12px 12px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        padding: 20px 15px 10px;
    }

    /* --- Responsif teks --- */
    #info .overlay-info h3 {
        /* font-size: 1.2rem; */
        font-weight: 600;
        text-align: left;
        /* color: #f3d1e0; */
    }

    #info .overlay-info p {
        margin-bottom: 4px;
        font-size: 0.9rem;
        line-height: 1.3;
        text-align: left;

    }

    /* --- Responsif container --- */
    #info .profile-card {
        max-width: 1100px;
        margin: auto;
    }
}

@media(max-width: 576px) {

    /* Responsive map */
    #location .map-container {
        position: relative;
        width: 100%;
        max-width: 900px;
        /* biar map ga terlalu lebar di desktop */
        margin: 0 auto;
        padding-bottom: 56.25%;
        /* rasio 16:9 */
        height: 0;
        overflow: hidden;
        border-radius: 16px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    }

    #location .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    /* Overlay redup di atas background */
    #location::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        /* ubah angka 0.45 sesuai tingkat kegelapan */
        z-index: 1;
    }

    /* Pastikan konten di atas overlay */
    #location>* {
        position: relative;
        z-index: 2;
    }

    .profile-card {
        background: rgba(255, 255, 255, 0.2);
        /* transparan */
        backdrop-filter: blur(10px);
        /* efek blur */
        -webkit-backdrop-filter: blur(10px);
        /* safari */
        border-radius: 12px;
        padding: 2rem;
        max-width: 400px;
        margin: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .profile-card img {
        width: 100%;
        height: 100%;
        /* isi penuh sesuai col */
        object-fit: cover;
        border-radius: 12px;
    }

    #story .timeline li .timeline-image {
        left: 10px;
        margin-left: 45px;
        /* top: 16px; */
        border-radius: 30px;
        width: 120px;
        height: 120px;
    }

    #story .timeline::before {
        content: '';
        top: -10px;
        bottom: -10px;
    }

    #story .timeline li .timeline-panel {
        width: calc(100% - 130px);
        float: right;
        padding: 10px;
    }

    #story .timeline li.timeline-inverted .timeline-panel {
        width: calc(100% - 130px);
        float: right;
        padding: 10px;
    }

    /* Overlay redup di atas background */
    #story::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        /* ubah angka 0.45 sesuai tingkat kegelapan */
        z-index: 1;
    }

    /* Pastikan konten di atas overlay */
    #story>* {
        position: relative;
        z-index: 2;
    }

    #invitation .card-left img {
        width: 150px;
        height: 150px;
    }

    /* Coakan kiri */
    #invitation .invitation-card::before {
        content: "";
        position: absolute;
        top: 46%;
        left: -15px;
        /* keluar sedikit dari card */
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.2);
        /* sama dengan background section */
        border-radius: 50%;
    }

    /* Coakan kanan */
    #invitation .invitation-card::after {
        content: "";
        position: absolute;
        top: 46%;
        right: -15px;
        /* keluar sedikit dari card */
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
    }

    /* --- Overlay teks (mobile) --- */
    #info .overlay-info {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        color: #fff;
        /* background: rgba(0, 0, 0, 0.35); */
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
        /* padding: 12px; */
        border-radius: 0 0 12px 12px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        padding: 20px 15px 10px;
    }

    /* --- Responsif teks --- */
    #info .overlay-info h3 {
        /* font-size: 1.2rem; */
        font-weight: 600;
        text-align: left;
        /* color: #f3d1e0; */
    }

    #info .overlay-info p {
        margin-bottom: 4px;
        font-size: 0.9rem;
        line-height: 1.3;
        text-align: left;

    }

    /* --- Responsif container --- */
    #info .profile-card {
        max-width: 1100px;
        margin: auto;
    }
}

/* Fade-in base */
.fade-content {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.visible.fade-content {
    opacity: 1;
    transform: translateY(0);
}

/* Delay untuk animasi berurutan */
.fade-content:nth-child(1) {
    transition-delay: 0.5s;
}

.fade-content:nth-child(2) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(3) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(4) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(5) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(6) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(7) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(8) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(9) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(10) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(11) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(12) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(13) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(14) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(15) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(16) {
    transition-delay: 0.2s;
}

.fade-content:nth-child(17) {
    transition-delay: 0.2s;
}

.btn-music {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    z-index: 1050;
    transition: background 0.3s ease;
}

.btn-music:hover {
    background: rgba(255, 255, 255, 0.35);
}